Configuracion/Structure/CSDocs_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) por Daniel Luna González (CS-DOCS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Modelo">
		<xs:annotation>
			<xs:documentation>Elemento Root</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="CrearInstanciaBD" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="InstanciaBD" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
								
				<xs:element name="EstructuraEmpresas" minOccurs="0">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="CrearEstructuraEmpresa" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="DefaultStructProperties">
											<xs:complexType>
												<xs:all>
													<xs:element name="NombreEmpresa">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Descripcion">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="ClaveEmpresa">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="type" type="xs:string" use="required"/>
																	<xs:attribute name="long" type="xs:int" use="optional"/>
																	<xs:attribute name="required" type="xs:boolean" use="required"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="DefinitionUsersProperties" minOccurs="0">
											<xs:complexType>
												<xs:sequence minOccurs="0" maxOccurs="unbounded">
													<xs:element name="Properties" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="name" type="xs:string" use="required"/>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="DataBaseName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InsertEmpresa" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="Field" maxOccurs="unbounded">
											<xs:complexType mixed="true">
												<xs:attribute name="Value" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="DataBaseName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EstructuraRepositorio" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="CrearEstructuraRepositorio" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:all>
										<xs:element name="NombreRepositorio"/>
										<xs:element name="DefaultStructProperties">
											<xs:complexType>
												<xs:all>
													<xs:element name="TipoArchivo">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="RutaArchivo">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="UsuarioPublicador">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="FechaIngreso">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="ResumenExtract">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Autor">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Topografia">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Clasificacion">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Gestion">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Expediente">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="NombreArchivo">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Full">
														<xs:complexType>
															<xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="long" type="xs:int" use="optional"/>
															<xs:attribute name="required" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="DefinitionUsersProperties" minOccurs="0">
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:choice>
														<xs:element name="Properties" minOccurs="0">
															<xs:complexType>
																<xs:attribute name="name"/>
																<xs:attribute name="type"/>
																<xs:attribute name="long" use="optional"/>
																<xs:attribute name="required" type="xs:boolean" use="optional"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="ListProperties" minOccurs="0">
															<xs:complexType>
																<xs:choice>
																	<xs:element name="List">
																		<xs:complexType>
																			<xs:sequence maxOccurs="unbounded">
																				<xs:element name="Properties" minOccurs="0">
																					<xs:complexType>
																						<xs:attribute name="name"/>
																						<xs:attribute name="type"/>
																						<xs:attribute name="long" use="optional"/>
																						<xs:attribute name="required" type="xs:boolean" use="optional"/>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																			<xs:attribute name="name"/>
																			<xs:attribute name="TipoCatalogo" use="required"/>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="ListSearch">
																		<xs:complexType>
																			<xs:sequence maxOccurs="unbounded">
																				<xs:element name="Properties" minOccurs="0">
																					<xs:complexType>
																						<xs:attribute name="name"/>
																						<xs:attribute name="type"/>
																						<xs:attribute name="long" use="optional"/>
																						<xs:attribute name="required" type="xs:boolean" use="optional"/>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																			<xs:attribute name="name"/>
																			<xs:attribute name="TipoCatalogo" type="xs:boolean" use="required"/>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="ListCompuesto">
																		<xs:complexType>
																			<xs:sequence maxOccurs="unbounded">
																				<xs:element name="Properties" minOccurs="0">
																					<xs:complexType>
																						<xs:attribute name="name"/>
																						<xs:attribute name="type"/>
																						<xs:attribute name="long" use="optional"/>
																						<xs:attribute name="required" type="xs:boolean" use="optional"/>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																			<xs:attribute name="name"/>
																			<xs:attribute name="TipoCatalogo" type="xs:boolean" use="required"/>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="Text"/>
																	<xs:element name="Date"/>
																	<xs:element name="Boolean"/>
																	<xs:element name="Decimal"/>
																	<xs:element name="Int"/>
																</xs:choice>
															</xs:complexType>
														</xs:element>
													</xs:choice>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:all>
									<xs:attribute name="DataBaseName" type="xs:string" use="optional"/>
									<xs:attribute name="ClaveEmpresa" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InsertRepositorio" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="Field" maxOccurs="unbounded">
											<xs:complexType mixed="true">
												<xs:attribute name="Value" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="DataBaseName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="CrearEstructuraCatalogo" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:choice>
										<xs:element name="Properties" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="name"/>
												<xs:attribute name="type"/>
												<xs:attribute name="long" use="optional"/>
												<xs:attribute name="required" type="xs:boolean" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="ListProperties" minOccurs="0">
											<xs:complexType>
												<xs:choice>
													<xs:element name="List">
														<xs:complexType>
															<xs:sequence maxOccurs="unbounded">
																<xs:element name="Properties" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="name"/>
																		<xs:attribute name="type"/>
																		<xs:attribute name="long" use="optional"/>
																		<xs:attribute name="required" type="xs:boolean" use="optional"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name"/>
															<xs:attribute name="TipoCatalogo" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="ListSearch">
														<xs:complexType>
															<xs:sequence maxOccurs="unbounded">
																<xs:element name="Properties" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="name"/>
																		<xs:attribute name="type"/>
																		<xs:attribute name="long" use="optional"/>
																		<xs:attribute name="required" type="xs:boolean" use="optional"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name"/>
															<xs:attribute name="TipoCatalogo" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="ListCompuesto">
														<xs:complexType>
															<xs:sequence maxOccurs="unbounded">
																<xs:element name="Properties" minOccurs="0">
																	<xs:complexType>
																		<xs:attribute name="name"/>
																		<xs:attribute name="type"/>
																		<xs:attribute name="long" use="optional"/>
																		<xs:attribute name="required" type="xs:boolean" use="optional"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name"/>
															<xs:attribute name="TipoCatalogo" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Text"/>
													<xs:element name="Date"/>
													<xs:element name="Boolean"/>
													<xs:element name="Decimal"/>
													<xs:element name="Int"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="DataBaseName" type="xs:string" use="optional"/>
									<xs:attribute name="ClaveEmpresa" type="xs:string" use="optional"/>
									<xs:attribute name="NombreRepositorio" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>

						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EstructuraUsuarios" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:sequence>
								<xs:element name="CrearEstructuraUsuario" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DefaultStructProperties" minOccurs="0">
												<xs:complexType>
													<xs:all>
														<xs:element name="Login">
															<xs:complexType>
																<xs:attribute name="type" type="xs:string" use="required"/>
																<xs:attribute name="long" type="xs:int" use="optional"/>
																<xs:attribute name="required" type="xs:boolean" use="required"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="Password">
															<xs:complexType>
																<xs:attribute name="type" type="xs:string" use="required"/>
																<xs:attribute name="long" type="xs:int" use="optional"/>
																<xs:attribute name="required" type="xs:boolean" use="required"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="Descripcion">
															<xs:complexType>
																<xs:attribute name="type" type="xs:string" use="required"/>
																<xs:attribute name="long" type="xs:int" use="optional"/>
																<xs:attribute name="required" type="xs:boolean" use="required"/>
															</xs:complexType>
														</xs:element>
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element name="DefinitionUsersProperties" minOccurs="0">
												<xs:complexType>
													<xs:sequence minOccurs="0" maxOccurs="unbounded">
														<xs:element name="Properties" maxOccurs="unbounded">
															<xs:complexType>
																<xs:attribute name="name" type="xs:string" use="required"/>
																<xs:attribute name="type" type="xs:string" use="required"/>
																<xs:attribute name="long" type="xs:int" use="optional"/>
																<xs:attribute name="required" type="xs:boolean" use="optional"/>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="DataBaseName" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:element name="InsertUsuario" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="Field" maxOccurs="unbounded">
											<xs:complexType mixed="true">
												<xs:attribute name="Value" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="DataBaseName" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>																																						
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
