Configuracion/UploadSources/capture_5.0.4.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name = "root">
    <xs:complexType>				
		<xs:choice maxOccurs="unbounded" minOccurs="0">	<!--	Se da a escoger entre un documento, image, etc -->
			<xs:element name="document"> <!-- Cuando el elemento es de tipo documento -->
				<xs:complexType mixed="true">				
					<xs:sequence>
						<xs:element name="field" minOccurs="0" maxOccurs="unbounded">
						  <xs:complexType>
							<xs:simpleContent>
							  <xs:extension base="xs:string">
								<xs:attribute type="xs:string" name="level"/>
								<xs:attribute type="xs:string" name="name"/>
								<xs:attribute type="xs:string" name="value"/>
							  </xs:extension>
							</xs:simpleContent>
						  </xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>				
			</xs:element>			
		</xs:choice>		
    </xs:complexType>
  </xs:element>
</xs:schema>